
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card_container{
    padding: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: hsl(0,0%, 100%);
}

.card{
    background-color:hsl(216, 50%, 16%);
    padding: 15px;
    max-width: 340px;
    border-radius: 15px;
}

.image_container{
    position: relative;
    width: 100%;
    height: 300px;
}

.image_overview{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 247,50%);
    border-radius: 10px;
    opacity: 0;
    transition: opacity .4s ease;
}

.image_overview img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.image_container:hover .image_overview{
    opacity: 1;
}

.card .image_container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

h2{
    margin-top: 25px;
    margin-bottom: 25px;
}

.line{
    color: hsl(215, 32%, 27%);
    font-size: 18px;
}

.ethereum_container{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.time_left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

.info{
    display: flex;
    justify-content: space-between;
}

.ethereum_container .eth{
    margin-left: 3px;
    font-weight: 600;
    color: cyan;
}

.ligne{
    height: 1px;
    width: 100%;
    background: hsl(215, 32%, 27%);
}

.creator{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.creator img{
    position: relative;
    border: solid 2px ;
    border-radius: 50%;
    width: 35px;
}

.creator p{
    margin-left: 85px;
    color: hsl(215, 51%, 70%);
}

.creator .name{
    color: hsl(0,0%, 100%);
    font-weight: 600;
}

